.related-movies-container {
  display: flex;
  gap: 10px; /* Adjust as needed */
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.related-movies-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Edge */
}
